[Service]

Type=simple

# edit the following 3 lines!
WorkingDirectory=/media/data/aa_projects_git/carplates_server/pentagon
User=safic
Group=safic

ExecStart=/home/safic/anaconda3/envs/tf_env/bin/python /media/data/aa_projects_git/carplates_server/pentagon/pg_main.py
# ExecStop=
ExecReload=/home/safic/anaconda3/envs/tf_env/bin/python /media/data/aa_projects_git/carplates_server/pentagon/pg_main.py

PIDFile=/tmp/pg_main.pid
Restart=always
RestartSec=10

[Install]

WantedBy=multi-user.target